@import "../_globalColor";

body {
  font-size:100%;
  line-height:1.6;
  font-family: 'Maven Pro', sans-serif;
}

.dark-mode {
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
}

.light-mode > #greeting,
.light-mode > #experience,
.light-mode > #opensource,
.light-mode > #blogs {
  background-color: $lightBackground1;
}

.light-mode > #skills,
.light-mode > #contact,
.light-mode > #footer {
  background-color: $lightBackground2;
}
