@import "../../_globalColor";

.myskill-container {
  // width: 90%;
  padding: 64px 5% 20px;
  margin: 0px auto;
  padding-bottom: 5rem;
}

.myskill-header h2 {
    font-size: 56px;
    text-align: center;
}

.myskill-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    // grid-template-rows: 1fr;
    gap: 2rem 2rem;

    @media all and (max-width:768px){
        // grid-template-columns: 1fr;
    }
}

.myskill-section {
    text-align: center;
    // max-width: 30vw;
}

.myskill-section h3 {
    font-size: 40px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    border-bottom: 3px solid #000;
}

// .skill-logo-container {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//     gap: 1rem 1rem;
// }

.skill-logo-container {
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
  }
  
  .software-skill-inline {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .software-skill-inline > i {
    // color: $subTitle;
  }
  
  .software-skill-inline:hover {
    transform: scale(1.05) !important;
  }
  .software-skill-inline > p {
    color: $subTitle;
    font-size: 10px;
  }
  .software-skill-inline > i:hover ~ p {
    color: $skillsColor;
  }

  .html:hover {
    color: $html;
  }

  .html:hover ~ p {
    color: $html;
  }

  .css:hover {
    color: $css;
  }

  .css:hover ~ p {
    color: $css;
  }
  
  .jss:hover {
    color: $jss;
  }

  .jss:hover ~ p {
    color: $jss;
  }

  .react:hover {
    color: $react;
  }

  .react:hover ~ p {
    color: $react;
  }

  .node:hover {
    color: $node;
  }

  .node:hover ~ p {
    color: $node;
  }

  .flask:hover {
    color: $flask;
  }

  .flask:hover ~ p {
    color: $flask;
  }

  .npm:hover {
    color: $npm;
  }

  .npm:hover ~ p {
    color: $npm;
  }

  .mssql:hover {
    color: $mssql;
  }

  .mssql:hover ~ p {
    color: $mssql;
  }

  .neo4j:hover {
    color: $neo4j;
  }

  .neo4j:hover ~ p {
    color: $neo4j;
  }

  .mongo:hover {
    color: $mongo;
  }

  .mongo:hover ~ p {
    color: $mongo;
  }

  .git:hover {
    color: $git;
  }

  .git:hover ~ p {
    color: $git;
  }

  .azure:hover {
    color: $azure;
  }

  .azure:hover ~ p {
    color: $azure;
  }

  .aws:hover {
    color: $aws;
  }

  .aws:hover ~ p {
    color: $aws;
  }

  .gcp:hover {
    color: $gcp;
  }

  .gcp:hover ~ p {
    color: $gcp;
  }

  .docker:hover {
    color: $docker;
  }

  .docker:hover ~ p {
    color: $docker;
  }

  .k8s:hover {
    color: $k8s;
  }

  .k8s:hover ~ p {
    color: $k8s;
  }

  .python:hover {
    color: $python;
  }

  .python:hover ~ p {
    color: $python;
  }

  .cplus:hover {
    color: $cplus;
  }

  .cplus:hover ~ p {
    color: $cplus;
  }
  
  .csharp:hover {
    color: $csharp;
  }

  .csharp:hover ~ p {
    color: $csharp;
  }

  .dotnet:hover {
    color: $dotnet;
  }

  .dotnet:hover ~ p {
    color: $dotnet;
  }

  .java:hover {
    color: $java;
  }

  .java:hover ~ p {
    color: $java;
  }